---
import PageLayout from '../../../layouts/PageLayout.astro';
import ComingSoon from '../../../components/ComingSoon.astro';
import { t } from '../../../data/translations';
const l = t.ru;
---

<PageLayout title="Исследования" activeSection="research" locale="ru">
  <div slot="content">
    <div class="px-4 sm:px-6 md:px-8 py-12 md:py-20 max-w-4xl">
      <ComingSoon
        label="(АКАДЕМИЧЕСКИЕ ИССЛЕДОВАНИЯ)"
        heading="Академические исследования"
        message={l.comingSoonMessage}
        note={l.comingSoonNote}
      />
    </div>
  </div>
</PageLayout>
