---
import Hero from './Hero.astro';
import AboutSection from './sections/AboutSection.astro';
import { type LocaleKey } from '../data/translations';

interface Props {
  locale: LocaleKey;
}

const { locale } = Astro.props;
---

<div class="about-panel-stack">
  <div class="about-panel-stack__art" aria-hidden="true">
    <img
      src="/media/anna-sample-4.png"
      alt=""
      class="about-panel-stack__art-img"
      loading="eager"
      decoding="async"
      draggable="false"
      data-lightbox-ignore
    />
  </div>

  <Hero locale={locale} />
  <AboutSection locale={locale} />
</div>
